<h3>
 <% Recipe.all.each do |recipe| %> 
        <%= recipe.name %>
        <% end %>

        <p><a href="/recipes/1"><p>
        <p><a href="/recipes/2"><p>
        <p><a href="/recipes/3"><p>
        
</h3>